body {
    margin: auto;
    padding: 0;
}
@font-face {
    font-family: "OpenSans-Regular";
    font-style: normal;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
}
@font-face {
    font-family: "OpenSans-bold";
    font-style: normal;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
}
.main-header {

    background: url("./../images/banner-bg.jpg") rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: multiply;
    height: 450px;
    width: 100%;

}
h1 {
    display: inline-block;
    color: white;
    font-size: 45px;
    font-family: OpenSans-bold;
}

.header-body {
    max-width: 1200px;
    margin: auto;
}
.logo {
    margin-top: 28px;
    width: 178px;
}
.nav {
    text-transform: uppercase;
    display: flex;
    float: right;
    margin-top: 25px;
    color: white;
}
.nav-list {
    display: inline-flex;
    list-style-type: none;

}
.nav-point {
}
.nav-point:nth-child(1n+1) {
    margin-left: 34px;
}
.trends {

}
.h2-trends {
    text-align: center;
    margin-top: 63px;
    margin-bottom: 45px;
    font-size: 20pt "OpenSans-bold";
}
.trends-slider {
    display: flex;
}
.trend {
    position: relative;
    display: block;
    width: calc(25% - 4px);
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
}
.trend:nth-child(1) {
    background-image: url("./../images/trend1.jpg");
}
.trend:nth-child(2) {
    background-image: url("./../images/trend2.jpg");
}
.trend:nth-child(3) {
    background-image: url("./../images/trend3.jpg");
}
.trend:nth-child(4) {
    background-image: url("./../images/trend4.jpg");
}
.trend:nth-child(1n+1) {
    margin-left: 5px;
}
.trend:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
}
.trend-content {
    position: absolute;
    bottom: 0;
    width: calc(100% - 108px);
    margin: auto 21px 21px;
    border: 3px solid #b59f5b;
    padding: 30px 32px ;
}
.trend-tag {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    padding-left: 0;
    font: 14px "OpenSans-bold";
    color: #b59f5b;
}
.trend-h2 {
    color: white;
    text-transform: uppercase;
}
.main {

    max-width: 1200px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
.post {
    height: 295px;
    margin-top: 64px;
    margin-right: 120px;
    display: flex;
}
.post-img {
    height: 295px;
    width: 380px;
}
.post:nth-of-type(1) .post-img {
    background-image: url("./../images/last-post1.jpg");

}
.post:nth-of-type(2) .post-img {
    background-image: url("./../images/last-post2.jpg");

}
.post:nth-of-type(3) .post-img {
    background-image: url("./../images/last-post3.jpg");

}
.post:nth-of-type(4) .post-img {
    background-image: url("./../images/last-post4.jpg");
}
.post:nth-of-type(5) .post-img {
    background-image: url("./../images/last-post5.jpg");
}

.article-content {
    margin-left: 30px;
    width: 367px;
    height: 295px;
}
.post-tags {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    padding-left: 0;
    font: 14px "OpenSans-bold";
    color: #b59f5b;
}
.tag {
    text-transform: uppercase;
    margin-right: 20px;
}
.post-info {
    display: flex;
}
.post-date {
    font: 12px OpenSans-Regular;
    margin-right: 15px;
}
.post-author {
    font: 12px OpenSans-bold;
}
.post-content {
    margin-top: 55px;
}
.h2-posts {
    font: 20px OpenSans-bold;
    margin-top: 15px;

}
.side-bar {
    margin-top: 64px;
    width: 270px;
}
.new-post-blocks {
    display: flex;
    flex-direction: column;
}
.new-posts-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: 15px;
    font: 14pt "OpenSans-bold";

}
.new-post {

    margin-top: 22px;
    display: inline-block;
    box-sizing: border-box;
}
.new-post-img {
    height: 70px;
    width: 70px;
    float:left;
}
.new-post:nth-of-type(1) .new-post-img {
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/2.jpg");
    background-repeat: no-repeat;
}
.new-post:nth-of-type(2) .new-post-img {
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/7.jpg");
    background-repeat: no-repeat;
}
.new-post:nth-of-type(3) .new-post-img {
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/45.jpg");
    background-repeat: no-repeat;
}
.new-post:nth-of-type(4) .new-post-img {
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/151.jpg");
    background-repeat: no-repeat;
}
.new-post:nth-of-type(5) .new-post-img {
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/501.jpg");
    background-repeat: no-repeat;
}
.new-post-content {
    width: 182px;
    float:right;
}
.new-post-data {
    color: #888888;
    font: 12px "OpenSans-Regular";
}
.new-post-title {
    font: 14px OpenSans-bold;

}
.search-post {
    display: flex;
    margin-top: 60px;
}
.search-form {
    width: 82.3%;
}
::placeholder {
    padding-left: 19px;
    color: #a2a4a3;
}
.search {
    width: 100%;
    height: 47px;
    box-sizing: content-box;
    padding: 0;
    background-color: #f4f7f6;
    border: none;
}
.search-button {
    width: 17.7%;
    background-image: url("./../svg/search.svg");
    background-size: 18px ;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #b59f5b;
}
.subscribe-form{
    margin-top: 62px;
}
.subscribe-h3 {
    text-align: center;
}
.subscribe-mail, .subscribe-button {
    box-sizing: content-box;
    width: 100%;
    height: 47px;
    width: 100%;
    padding: 0;
    margin-top: 23px;
}
.subscribe-mail {
    background-color: #f4f7f6;
    border: none;
}
::placeholder {
    padding-left: 19px;
    color: #a2a4a3;
}
.subscribe-button {
    margin-top: 18px;
    background: #b59f5b;
    font-size: 14pt;
    text-transform: uppercase;
    color: white;

}
.magazin {
    margin: auto;
    max-width: 1200px;
}
.h2-magazin {
    text-align: center;
    margin-top: ;
}
.products{
    display: flex;
    justify-content: space-around;
}
.product {
    width: 300px;
}
.product-photo{
    height: 200px;
}
.product:nth-child(1) .product-photo {
    background-image: url("./../images/shop-item-desk1.jpg");
}
.product:nth-child(2) .product-photo {
    background-image: url("./../images/shop-item-desk2.jpg");
}
.product:nth-child(3) .product-photo {
    background-image: url("./../images/shop-item-desk3.jpg");
}

